* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #94a3b8;
  --secondary: #34d399;
  --primary-dark: #4b5563;
  --secondary-dark: #10b981;
  --off-white: #f8f8f8;
  --white: #ffffff;
}

a {
  text-decoration: none;
}

.nav {
  background-color: var(--off-white);
}

.nav .link {
  color: var(--primary-dark);
  text-decoration: none;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

nav .nav-list {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
}
nav .nav-list-items {
  padding: 10px;
  margin-bottom: 10px;
}

nav .nav-list-items a {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 900;
  font-family: 'kalam', cursive;
}

.nav-list-items a:hover {
  color: var(--primary-dark);
}

header .header-image {
  border-radius: 50%;
  max-width: 400px;
  height: auto;
  margin: auto;
  display: block;
}

.header h1,
h3 {
  text-align: center;
  margin: 10px 0 0 0;
}

.header-text {
  max-width: 90%;
  margin: auto;
  background-color: var(--off-white);
  padding: 1rem;
  font-size: 20px;
  line-height: 2rem;
}

.about {
  margin: 2rem auto;
  max-width: 950px;
  background-color: var(--off-white);
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  padding: 1rem;
}
.about h1 {
  text-align: center;
  margin-top: 15px;
}

.about p {
  font-family: georgia, serif;
  color: #381704;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  line-height: 200%;
  padding-top: 11px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.section-tech {
  margin: 2rem auto;
  max-width: 950px;
  padding: 1rem;
}

.section-tech h1 {
  text-align: center;
}

.section-tech .tech {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 1.5rem auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  background-color: white;
}

.tech img {
  width: 75px;
  height: auto;
  object-fit: contain;
}

.section-project {
  margin: 2rem auto;
  max-width: 950px;
  background-color: var(--off-white);
  padding: 1rem;
}

.section-project h1 {
  text-align: center;
}

.section-project .projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-project .project {
  display: flex;
  align-items: center;
  width: 350px;
  flex-direction: column;
  margin: 15px auto;
  border-radius: 15px;
}

.section-project .project_title {
  font-size: 18px;
  font-weight: 900;
  margin: 10px 0;
}

.section-project .project a {
  font-size: 18px;
  font-weight: 200;
  margin: 10px 0 5px 0;
  text-decoration: none;
  color: black;
}

.section-project .project .project_image {
  width: 95%;
  height: auto;
  object-fit: contain;
}

.section-project .project-description {
  text-align: center;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 200;
  border-bottom: 1px solid black;
}

.section-project .project-links {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.section-project .project-links a {
  font-size: 2rem;
}

.section-project .btn-moreProjects {
  display: block;
  margin: 10px auto;
  padding: 15px;
  font-size: 1rem;
  border-radius: 2rem;
  outline: none;
  background-color: black;
}

.section-project .btn-moreProjects a {
  color: white;
}

.section-blogs {
  margin: 2rem auto 0rem auto;
  max-width: 950px;
  background-color: var(--off-white);
  padding: 2rem;
}

.section-blogs h1 {
  text-align: center;
}

.section-blogs p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
}

.section-blogs button {
  display: block;
  margin: 10px auto;
  padding: 15px;
  font-size: 1rem;
  border-radius: 2rem;
  outline: none;
  background-color: black;
}

.section-blogs a {
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  background-color: gray;
  font-size: 20px;
}

footer .social {
  margin: 10px;
  font-size: larger;
  padding: 10px;
}

footer .social a {
  margin: 0 5px;
  font-size: larger;
  text-decoration: none;
  color: black;
}

.blogs {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 420px;
  margin: 0 auto;
  margin-top: 10px
}

.blog img{
  width: 420px;
  height: auto;
}

.blog-title {
  font-size: 2rem;
  font-weight: 800;
}

.blog-date {
  font-size: smaller;
  font-weight: 100;
  color: gray;
}

.blog-link {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  width: 180px;
  border-radius: 20px;
}

.blog-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    background-color: black;
    color: white;
  }

  .header-image {
    width: 250px;
    display: block;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
  }

  hr {
    display: none;
  }

  .about,
  .section-tech,
  .section-project,
  .section-blogs {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  nav .nav-list-items a {
    padding: 7px;
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: 900;
    font-family: 'kalam', cursive;
  }

  .about p {
    font-size: 16px;
    text-align: center;
  }

  .tech img {
    width: 50px;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .section-blogs {
    background-color: white;
  }

  footer > p {
    padding: 10px;
  }

  .social {
    margin: 5px;
  }

  .section-project .btn-moreProjects {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 14px;
    border-radius: 2rem;
    outline: none;
    background-color: black;
  }
}
